.env
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.venv/
dist/
build/
*.egg-info/
runtime/
assets/**
!assets/
!assets/**/
!assets/**/.gitkeep
configs/local/**
!configs/local/
!configs/local/**/
!configs/local/**/.gitkeep
